body{
	background-color: #f5f6f7;
}

#home{
	display: unset;
}

#profile{
	display: none;
}

#messages{
	display: none;
}

button{
	color:#444;
	border:black;
	border-radius: 10%;
	padding:10px;
	font-size: 1.5em;
}

button:focus{
	color:#444;
	border:black;
	border-radius: 10%;
	padding:10px;
	font-size: 1.5em;
}